<h1>Orders</h1>

<h6> Search for orders:</h6>
<%= form_tag(orders_path, method: :get) do %>
  <label>Book Title</label>
  <%= select_tag(:book_id, options_from_collection_for_select(@books, "id", "title"), include_blank: true, style: "display:block") %>

  <label>Overdue books</label>
  <%= select_tag(:overdue, options_for_select([["Overdue books", 1], ["All", 0]]), include_blank: true, style: "display:block") %>
  <br>
  <%= submit_tag("Search", :class=>"waves-effect waves-light btn") %>
<% end %>
<br>
<% if policy(:order).create_order? %>
  <a href='<%= books_path %>' class='waves-effect waves-light btn'>Order  Book</a>
<% end %>
<br>
<% if @orders.size !=0 %>
<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <% if policy(:book).edit_book? %>
        <th>Issued To</th>
      <% end %>
      <th>Issued On</th>
      <th>Returned On</th>
      <th>Overdue Fine</th>
      <th colspan=3></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= order.book.title %></td>
        <% if policy(:book).edit_book? %>
          <td><%= User.find(order.user_id).name %></td>
        <% end %>
        <td><%= order.created_at %></td>
        <td><%= order.returned_on %></td>
        <td><%= order.overdue_fine %></td>
        <% if order.returned_on.blank? %>
          <td><%= link_to 'Return', "orders/#{order.book.id}/return", method: :post%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h6>No Books Ordered Yet.</h6>
<% end %>
<br>
